@import './index.scss';

#mainContainer{
    background-color: $secondary-color;
    min-height: 100vh;
    position: relative;
    .head{
        display: flex;
        justify-content: center;
        padding: 3rem 1rem;
        h1{
            color: $brand-color;
            text-transform: uppercase;
        }
    }
    .inputContainer{
        display: flex;
        justify-content: center;
        padding: .5rem 0 2rem 0;
        input{
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $brand-color;
          padding: 10px 20px;
          color: white;
          outline: none;
          text-align: center;
        }
      }
    .tableContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;

    }
    .logoContainer{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 7rem;
        z-index: 1;
        pointer-events: none;
        animation: fadeIn 1s ease-in-out;
        @media screen and (min-width:768px) {
            padding: 10rem;
        }
        .logo{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
